html {
    height: 100%;
}

.gallery{
    display:flex;
}

.left-column {
    display:flex;
    flex-direction:column;
}

.rigth-column{
    display:flex;
    flex-direction:column;
}




body {
    height: 100%;
    
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}
